@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="css/dashboard.css"/> <!-- Link to the external CSS file -->
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <img src="https://s.kaskus.id/images/2022/08/11/8970274_20220811041343.jpg" alt="People Nowadays">
        <strong>
            <p>
                Memang demikian keadaan masyarakat saat ini. Pada saat ada suatu kecelakaan yang menimpa seseorang, 
                masyarakat kebanyakan hanya mengambil foto. Seperti kasus kecelakaan maut truk pertamina yang terjadi di Cibubur 
                beberapa waktu lalu dimana "Iron Man" kecewa masyarakat disekitar hanya mengambil foto saja, tak ada yang mau menolong.
            </p>
        </strong>
        <br>
        <strong>
            <p>
                Kendati demikian, dari ilustrasi di atas sebenarnya dapat menimbulkan arti yang berbeda-beda tergantung sudut pandang 
                sang pembaca, yang memiliki berbagai macam argumen berbeda. Biar Gansis yang saja yang menilai. Kira-kira kalau ada korban 
                kecelakaan harus bagaimana nih? Tulis di kolom komentar beserta argumennya!
            </p>
        </strong>
    </div>
</body>
</html>
