@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="css/dashboard.css"/> <!-- Link to the external CSS file -->
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <br>
        <h3 style="color: deeppink;">MEDUSA</h3>
        <img src="https://wallpaperaccess.com/full/7053532.jpg" alt="People Nowadays">
        <br>
        <br>
        <strong>
            <p style="text-align: justify;">
                Dalam mitologi Yunani, Medusa adalah makhluk perempuan mengerikan dengan bentuk ular berbisa yang hidup sebagai pengganti rambutnya. Dia memiliki kekuatan untuk mengubah siapa pun yang menatap matanya menjadi batu. Medusa dibunuh oleh pahlawan Perseus, yang kemudian menggunakan kepalanya sebagai senjata sampai dia memberikannya kepada dewi Athena untuk ditempatkan di perisainya.
                Menurut Teogoni Hesiod, Medusa lahir dari monster laut Ceto dan Phorcys. Dia digambarkan memiliki wajah cantik dan rambut ular hidup berbisa. Beberapa mitos mengatakan bahwa dia awalnya adalah wanita cantik, tetapi dikutuk oleh Athena agar rambutnya berubah menjadi ular.
                Medusa adalah salah satu dari tiga bersaudara Gorgon, bersama Stheno dan Euryale. Kakak beradik itu lahir dari dewa laut Phorcys dan saudara perempuan-istrinya Ceto. Mereka adalah monster yang kuat, masing-masing dengan rambut ular, cakar yang tajam, dan kemampuan untuk mengubah orang menjadi batu dengan tatapan mereka.
                Para Gorgon akhirnya dikalahkan oleh pahlawan Perseus, yang menggunakan pantulan wajah Medusa di perisainya untuk menghindari tatapan langsung ke arahnya. Dia kemudian memenggalnya dengan pedangnya dan menggunakan kepalanya sebagai senjata. Setelah itu, dia memberikannya kepada Athena untuk ditempatkan di perisainya, Aegis.
                Kisah Medusa telah diceritakan kembali dalam berbagai bentuk selama berabad-abad, dan dia adalah tokoh populer baik dalam mitologi Yunani maupun dunia modern. Dia berfungsi sebagai simbol kekuatan perempuan, dan ceritanya telah digunakan untuk mengeksplorasi tema gender, kekuasaan, dan transformasi.
            </p>
        </strong>
    </div>
</body>
</html>

